@font-face {
  font-family: "icon"; /* Project id 2992731 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_2992731_0w6xd4iq5pba.woff2?t=1638804781674') format('woff2'),
       url('//at.alicdn.com/t/font_2992731_0w6xd4iq5pba.woff?t=1638804781674') format('woff'),
       url('//at.alicdn.com/t/font_2992731_0w6xd4iq5pba.ttf?t=1638804781674') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-GitHub:before {
  content: "\e600";
}

.icon-weixin1:before {
  content: "\e73b";
}

.icon-bilibili:before {
  content: "\e6cf";
}

.icon-QQ:before {
  content: "\e668";
}

.icon-mail:before {
  content: "\e649";
}
