@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('https://cdn.jsdelivr.net/npm/huran/fonts/Candyhome.ttf'); /* 字体文件路径 */
  font-display : swap;
}

body {
    font-family: 'Candyhome';
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.9);
}

/* 夜间模式 */
[data-theme="dark"]
  #aside-content .card-widget{
      background: rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  #recent-posts > .recent-post-item{
      background:rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#archive{
      background:rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#category{
      background:rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#page{
      background:rgba(0, 0, 0, 0.5)!important;
    }
[data-theme="dark"]
  div#post{
    background: rgba(0, 0, 0, 0.5)!important;
    }
/* 阅读模式 */
.read-mode #aside-content .card-widget{
      background: rgba(158, 204, 171, 0.5)!important;
    }
.read-mode div#post{
    background: rgba(158, 204, 171, 0.5)!important;
    }
/* 夜间阅读模式 */
[data-theme="dark"]
  .read-mode #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #ffffff;
      }
[data-theme="dark"]  
  .read-mode div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      color: #ffffff;
      }

/* Twikoo评论框高度 */
.el-textarea__inner {
    /* min-height: 75px; */
    /* height: 75px; */
    min-height: 210px !important;
  }
/*twikooUA*/
.tk-extra[data-v-d82ce9a0] {
    padding: .2em .5em;
    border-radius: .2em;
    background: #ededed;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    display: flex;
    align-items: center;
}
.tk-comment[data-v-d82ce9a0] {
    box-shadow: 2px 2px 5px #9a9a9a;
    border-radius: 8px;
    padding: 15px;
    margin-top: 1rem;
}
.tk-comment[data-v-d82ce9a0] {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    word-break: break-all;
}
#twikoo .tk-comment .tk-replies .tk-comment {
    box-shadow: none;
}
.tk-replies {
    margin-left: -85px;
}
svg.icon {
   width: 1em;
   height: 1em;
   /* width和height定义图标的默认宽度和高度*/
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}